<head>
  <meta name="mobile-web-app-capable" content="yes">
</head>
<script>
var mbta_apikey;
var mbta_stationid;
var mbta_dir;
var wunderground_apikey;
var wunderground_loc;

function getqueryparams () {
    var match,
        pl     = /\+/g,  // Regex for replacing addition symbol with a space
        search = /([^&=]+)=?([^&]*)/g,
        decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
        query  = window.location.search.substring(1);

    urlParams = {};
    while (match = search.exec(query))
       urlParams[decode(match[1])] = decode(match[2]);

    return urlParams;
};

function httpGet(theUrl){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

function timeToStr(time){
  var minute = Math.floor(time/60);
  if(minute > 0){
    return minute + ' m  ' + time%60 + ' s';
  }
  else{
    return time%60 + ' s';
  }
}

function timestampToStr(timestamp){
  if(timestamp == '-'){
    return '@ -';
  }
  return '@ ' + timeToStr(Math.floor((new Date).getTime()/1000) - timestamp);
}

function updateTripStr(tripdata, elem1, elem2){
  if(tripdata){
    var time1 = tripdata['pre_away'];
    var stamp1 = '-';
    if(tripdata['vehicle']){
      stamp1 = tripdata['vehicle']['vehicle_timestamp'];
    }

    var eta = document.getElementById(elem1);
    eta.innerHTML = '&#8594; ' + timeToStr(time1) + ' &#8592;';

    // color hints. ref:
    // http://www.w3schools.com/colors/colors_names.asp
    if(time1 < 2.5*60){
      eta.style.color = "OrangeRed";
    }
    else if (time1 < 5.5*60) {
      eta.style.color = "Green";
    }

    eta = document.getElementById(elem2);
    eta.innerHTML = timestampToStr(stamp1);
  }
  else{
    var eta = document.getElementById(elem1);
    eta.innerHTML = '';

    eta = document.getElementById(elem2);
    eta.innerHTML = '';
  }
}

function gettime(){
  var data = httpGet('http://realtime.mbta.com/developer/api/v2/predictionsbystop?api_key='+mbta_apikey+'&stop='+mbta_stationid+'&direction='+mbta_dir+'&format=json');

  data1 = `{
"mode": [{
"route": [{
"direction": [{
"trip": [{
"pre_away":"1234",
"vehicle": {
"vehicle_timestamp": "1455238701"
}
}]
}]
}]
}]
}`;

  var data2 = `{
"mode": [{
"route": [{
"direction": [{
"trip": [{
"pre_away":"1234",
"vehicle": {
"vehicle_timestamp": "1455238701"
}
},
{
"pre_away":"1234",
"vehicle": {
"vehicle_timestamp": "1455238701"
}
}]
}]
}]
}]
}`;

  var jdata = JSON.parse(data);

  try{
    var trip1 = jdata['mode'][0]['route'][0]['direction'][0]['trip'][0];
    var trip2 = jdata['mode'][0]['route'][0]['direction'][0]['trip'][1];

    updateTripStr(trip1, 'eta1', 'vehicleupdate1');
    updateTripStr(trip2, 'eta2', 'vehicleupdate2');
  } catch (e) {
    if (e instanceof TypeError){
      document.getElementById('eta1').innerHTML = 'N/A';
      document.getElementById('vehicleupdate1').innerHTML = '';
      document.getElementById('eta2').innerHTML = '';
      document.getElementById('vehicleupdate2').innerHTML = '';
    }
    else{
      throw e;
    }
  }
}

function getweather(){
  // get the weather!
  var wjson = httpGet('http://api.wunderground.com/api/'+wunderground_apikey+'/conditions/forecast/q/'+wunderground_loc+'.json')

  // current weather
  var jdata = JSON.parse(wjson);
  var current = jdata['current_observation']['temp_f'];
  var low = jdata['forecast']['simpleforecast']['forecastday'][0]['low']['fahrenheit'];
  var high = jdata['forecast']['simpleforecast']['forecastday'][0]['high']['fahrenheit'];

  var elem = document.getElementById('weather');
  elem.innerHTML = low + 'F / ' + current + 'F / ' + high + 'F';

  // set weather image
  document.getElementById('weatherimg').src = jdata['forecast']['simpleforecast']['forecastday'][0]['icon_url'];
}

function onload(){
  var qps = getqueryparams();

  wunderground_apikey = qps['wak'];
  wunderground_loc = qps['wloc'];
  mbta_apikey = qps['mak'];
  mbta_stationid = qps['msid'];
  mbta_dir = qps['mdir'];

  if((mbta_apikey != null) && (mbta_stationid != null) && (mbta_dir != null)){
    gettime();
  }

  if((wunderground_apikey != null) && (wunderground_loc != null)){
    getweather();
  }
}
</script>

<style>
h1 {
    font-size: 750%;
}
h2 {
  font-size: 600%;
  color: DarkGrey;
}
</style>

<body onload="onload();">
<h1 id="eta1">TIMEAWAY1</h1>
<h2 id="vehicleupdate1">UPDATED1</h2>
<h1 id="eta2">TIMEAWAY2</h1>
<h2 id="vehicleupdate2">UPDATED2</h2>
<hr>
<img id="weatherimg" src="http://icons.wxug.com/i/c/k/cloudy.gif"><div id="weather" style="font-size: 600%;">WEATHER</div>
</body>
